In [1]:
import pandas as pd
from sklearn.datasets import load_iris

### 1 Exploratory Data Analysis

In [2]:
#1.2.1 Load Data
dataset1 = load_iris()
iris = pd.DataFrame(dataset1.data, columns=dataset1.feature_names)
iris['species'] = dataset1.target
iris.replace({'species': {0: 'setosa', 1: 'versicolor', 2 : 'virginica'}}, inplace = True)

In [3]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [4]:
print(iris.shape)

(150, 5)

In [5]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

In [6]:
print(iris.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [7]:
iris['sepal length (cm)'].dtypes

dtype('float64')

In [8]:
iris['species'].dtypes

dtype('O')

In [9]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [10]:
iris['sepal length (cm)'].std()

0.828066127977863

In [11]:
iris['sepal length (cm)'].quantile([0, 0.25, 0.5, 0.75,1])

0.00    4.3
0.25    5.1
0.50    5.8
0.75    6.4
1.00    7.9
Name: sepal length (cm), dtype: float64

In [12]:
iris.std(axis = 0)

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

## 1.3 Summary by groups

In [13]:
# group mean
iris.groupby("species").mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [14]:
# group standard deviation
iris.groupby("species").std()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,0.352490,0.379064,0.173664,0.105386
versicolor,0.516171,0.313798,0.469911,0.197753
virginica,0.635880,0.322497,0.551895,0.274650

In [15]:
Cate_Sepal = pd.qcut(iris['sepal length (cm)'], 4)
Cate_Sepal

0      (4.2989999999999995, 5.1]
1      (4.2989999999999995, 5.1]
2      (4.2989999999999995, 5.1]
3      (4.2989999999999995, 5.1]
4      (4.2989999999999995, 5.1]
                 ...
145                   (6.4, 7.9]
146                   (5.8, 6.4]
147                   (6.4, 7.9]
148                   (5.8, 6.4]
149                   (5.8, 6.4]
Name: sepal length (cm), Length: 150, dtype: category
Categories (4, interval[float64]): [(4.2989999999999995, 5.1] < (5.1, 5.8] < (5.8, 6.4] < (6.4, 7.9]]

In [16]:
iris1 = iris.copy()
iris1['Sepal_Length_Cate'] = Cate_Sepal
iris1.groupby(["species","Sepal_Length_Cate"]).mean()

                                      sepal length (cm)  sepal width (cm)  \
species    Sepal_Length_Cate
setosa     (4.2989999999999995, 5.1]           4.838889          3.291667
           (5.1, 5.8]                          5.435714          3.778571
           (5.8, 6.4]                               NaN               NaN
           (6.4, 7.9]                               NaN               NaN
versicolor (4.2989999999999995, 5.1]           5.000000          2.300000
           (5.1, 5.8]                          5.600000          2.705000
           (5.8, 6.4]                          6.135294          2.835294
           (6.4, 7.9]                          6.722222          3.000000
virginica  (4.2989999999999995, 5.1]           4.900000          2.500000
           (5.1, 5.8]                          5.740000          2.700000
           (5.8, 6.4]                          6.238889          2.900000
           (6.4, 7.9]                          7.057692          3.096154

                                      petal length (cm)  petal width (cm)
species    Sepal_Length_Cate
setosa     (4.2989999999999995, 5.1]           1.455556          0.241667
           (5.1, 5.8]                          1.478571          0.257143
           (5.8, 6.4]                               NaN               NaN
           (6.4, 7.9]                               NaN               NaN
versicolor (4.2989999999999995, 5.1]           3.275000          1.025000
           (5.1, 5.8]                          4.055000          1.240000
           (5.8, 6.4]                          4.511765          1.429412
           (6.4, 7.9]                          4.677778          1.455556
virginica  (4.2989999999999995, 5.1]           4.500000          1.700000
           (5.1, 5.8]                          5.040000          2.040000
           (5.8, 6.4]                          5.283333          1.922222
           (6.4, 7.9]                          5.876923          2.107692

In [17]:
#1.3.2 Pivot table
pd.crosstab(index=iris["species"], columns="count")

col_0       count
species
setosa         50
versicolor     50
virginica      50

In [18]:
two_way = pd.crosstab(index=iris["species"], 
                           columns=iris1["Sepal_Length_Cate"])
two_way

Sepal_Length_Cate,"(4.2989999999999995, 5.1]","(5.1, 5.8]","(5.8, 6.4]","(6.4, 7.9]"
species,,,,
setosa,36,14,0,0
versicolor,4,20,17,9
virginica,1,5,18,26

## 2 Data Manipulation

### 2.1 Re-ordering columns and sorting rows

In [19]:
iris.sort_values(by = 'sepal length (cm)', ascending = False).iloc[:5,:]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
131,7.9,3.8,6.4,2.0,virginica
135,7.7,3.0,6.1,2.3,virginica
122,7.7,2.8,6.7,2.0,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica

### 2.2 Sorting

In [20]:
iris.sort_values(by = 'sepal length (cm)', ascending = False).iloc[:5,:]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
131,7.9,3.8,6.4,2.0,virginica
135,7.7,3.0,6.1,2.3,virginica
122,7.7,2.8,6.7,2.0,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica

### 2.3 Select columns

In [21]:
iris.loc[:,['sepal length (cm)']]

     sepal length (cm)
0                  5.1
1                  4.9
2                  4.7
3                  4.6
4                  5.0
..                 ...
145                6.7
146                6.3
147                6.5
148                6.2
149                5.9

[150 rows x 1 columns]

In [22]:
iris.loc[:,['sepal length (cm)','sepal width (cm)']]

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

### 2.4 Missing data

In [23]:
customer = pd.read_csv("https://xiaoruizhu.github.io/Data-Mining-R/lecture/data/CustomerData.csv")

In [24]:
#2.4.1 Detect missing values
print(customer.isnull().sum().sum())

124

In [25]:
# How many missing values are in each variable?
print(customer.isnull().sum())

CustomerID              0
Region                  0
TownSize                0
Gender                 33
Age                     0
EducationYears          0
JobCategory            15
UnionMember             0
EmploymentLength        0
Retired                 0
HHIncome                0
DebtToIncomeRatio       0
CreditDebt              0
OtherDebt               0
LoanDefault             0
MaritalStatus           0
HouseholdSize           8
NumberPets              6
NumberCats              7
NumberDogs              8
NumberBirds            34
HomeOwner              13
CarsOwned               0
CarOwnership            0
CarBrand                0
CarValue                0
CommuteTime             0
PoliticalPartyMem       0
Votes                   0
CreditCard              0
CardTenure              0
CardItemsMonthly        0
CardSpendMonth          0
ActiveLifestyle         0
PhoneCoTenure           0
VoiceLastMonth          0
VoiceOverTenure         0
EquipmentRental         0
EquipmentLastMonth      0
EquipmentOverTenure     0
CallingCard             0
WirelessData            0
DataLastMonth           0
DataOverTenure          0
Multiline               0
VM                      0
Pager                   0
Internet                0
CallerID                0
CallWait                0
CallForward             0
ThreeWayCalling         0
EBilling                0
TVWatchingHours         0
OwnsPC                  0
OwnsMobileDevice        0
OwnsGameSystem          0
OwnsFax                 0
NewsSubscriber          0
dtype: int64

In [26]:
## 2.4.2 How to deal with missing values?
customer.dropna(inplace= True)

In [27]:
customer.shape

(4893, 59)

In [28]:
medHS = customer['HouseholdSize'].median(skipna=True)
customer['HouseholdSize'].fillna(medHS, inplace = True)